In [4]:
import matplotlib.pyplot as plt
from cleansing import get_integrated_db, read_table_from_db

def all_data_frames(fancy_db):
    days = read_table_from_db(fancy_db, "days")
    delays = read_table_from_db(fancy_db, "delays")
    snapshots = read_table_from_db(fancy_db, "snapshot")
    candidate_trains = read_table_from_db(fancy_db, "candidate_trains")
    return days, delays, snapshots, candidate_trains

days, delays, snapshots, candidate_trains = get_integrated_db(all_data_frames)

In [5]:
days

           day            vehicle first_seen last_seen  delay
0   2019-09-09  84/60551/18/19/86   08:06:00  08:06:00      0
1   2019-09-10  84/33547/18/20/86   08:12:00  08:30:00     -1
2   2019-09-11  84/33338/18/21/86   08:06:00  08:18:00      0
3   2019-09-12  84/33547/18/20/86   08:12:00  08:30:00      0
4   2019-09-13  84/24692/18/21/86   08:06:00  08:18:00     -1
..         ...                ...        ...       ...    ...
59  2019-11-07  84/21859/18/24/86   08:12:00  08:30:00      0
60  2019-11-08  84/21859/18/24/86   08:12:00  08:30:00      0
61  2019-11-09  84/21334/18/24/86   08:12:00  08:30:00      0
62  2019-11-10  84/21195/18/19/86   08:24:00  08:42:00      0
63  2019-11-11  84/21334/18/24/86   08:12:00  08:30:00      0

[64 rows x 5 columns]